#topbar {
    margin-top: 46px
}

.activitesDelete {
    position: absolute;
    right: 5px;
    top: 5px
}

.activitesDeleteCountdown {
    padding: 5px
}

.activitesDeleteBut {
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer
}

.dialog-activityimg {
    padding: 0;
    background: none;
    box-shadow: none
}

.dialog-activityimg>div {
    padding: 0;
    background-color: transparent
}

.ppp {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 0
}

.pppp {
    position: relative;
    margin: 0 auto 50px;
    margin-top: 50px;
    border-radius: 2px;
    box-sizing: border-box
}

.scroll_vertical {
    width: 1200px;
    float: left;
    overflow: hidden
}

.scroll_vertical .box {
    overflow: hidden;
    position: relative;
    height: 40px
}

.scroll_vertical .list {
    position: absolute;
    top: 0;
    left: 0
}

.scroll_vertical .list li {
    height: 20px;
    list-style: none;
    font-size: 12px
}

.el-carousel__item.is-animating {
    transition: transform 2s ease-in-out;
    transition: transform .8s ease-in-out
}


.el-menu.el-menu--horizontal {
    border: 0
}

.el-menu--collapse .cart-index-nav .el-submenu,.el-menu--popup {
    min-width: 131px
}

.userNav-index .el-submenu__title a {
    color: #666!important;
    font-size: 14px
}

.userNav-index .is-opened .el-submenu__title,.userNav-index .is-opened .el-submenu__title a,.userNav-index .is-opened i {
    color: #333!important;
    background-color: #fff!important;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    box-sizing: border-box
}

.popUserNav-index .el-menu,.userNav-index .is-opened .el-menu-item {
    color: #333!important;
    background-color: #fff!important
}

.el-menu--collapse .userNav-index .el-submenu,.el-menu--popup {
    min-width: 138px
}

.popUserNav-index .el-menu .el-menu-item {
    color: #333!important;
    background-color: #fff!important
}

.userNav-index .el-submenu {
    padding: 0!important
}

.el-menu--popup-bottom-start {
    margin-top: 0
}

.el-menu--horizontal>.el-submenu {
    float: none
}

.topTile_Rigt li {
    width: 138px
}

.magichand  {
    display: inline;
    color: #fff;
    font-size: 12px;
    padding: 0 15px;
    position: relative
}

.magichand:hover {
    color: #fdedb9
}

.xian :after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 2px;
    width: 1px;
    height: 13px;
    border-right: 1px solid hsla(0,0%,100%,.5)
}

.magichand-box  {
    display: inline-block
}

[class*=" icon-"] ,[class^=icon-]  {
    font-family: icon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-c :before {
    content: "\e947"
}

.icon-l :before {
    content: "\e94b"
}

.icon-r :before {
    content: "\e94d"
}

.icon-b :before {
    content: "\e951"
}

.icon-h :before {
    content: "\e952"
}

.icon-i :before {
    content: "\e953"
}

.icon-t :before {
    content: "\e954"
}

.icon-suc :before {
    content: "\e946"
}

.icon-save :before {
    content: "\e942"
}

.icon-set :before {
    content: "\e948"
}

.icon-share :before {
    content: "\e949"
}

.icon-upload2 :before {
    content: "\e94a"
}

.icon-rollback_r :before {
    content: "\e94e"
}

.icon-upload3 :before {
    content: "\e94f"
}

.icon-rollback_l :before {
    content: "\e950"
}

.icon-3d :before {
    content: "\e941"
}

.icon-img :before {
    content: "\e940"
}

.icon-fen :before {
    content: "\e900"
}

.icon-locat :before {
    content: "\e901"
}

.icon-yyao :before {
    content: "\e902"
}

.icon-dianzi :before {
    content: "\e903"
}

.icon-huaz :before {
    content: "\e904"
}

.icon-moban :before {
    content: "\e905"
}

.icon-shipin :before {
    content: "\e906"
}

.icon-arrow_d :before {
    content: "\e907"
}

.icon-contact :before {
    content: "\e908";
    color: #e60021
}

.icon-cart :before {
    content: "\e909"
}

.icon-audit :before {
    content: "\e90a"
}

.icon-checkm :before {
    content: "\e90b"
}

.icon-checks :before {
    content: "\e90c"
}

.icon-colse :before {
    content: "\e90d"
}

.icon-cont :before {
    content: "\e90e"
}

.icon-coupon :before {
    content: "\e90f"
}

.icon-detail :before {
    content: "\e910"
}

.icon-filedone :before {
    content: "\e911"
}

.icon-idcard :before {
    content: "\e912"
}

.icon-map1 :before {
    content: "\e913"
}

.icon-map2 :before {
    content: "\e914"
}

.icon-pass :before {
    content: "\e915"
}

.icon-setting :before {
    content: "\e916"
}

.icon-solution :before {
    content: "\e917"
}

.icon-use :before {
    content: "\e918"
}

.icon-arrow_up :before {
    content: "\e919"
}

.icon-tel :before {
    content: "\e91a"
}

.icon-down :before {
    content: "\e91b"
}

.icon-add :before {
    content: "\e91c"
}

.icon-del :before {
    content: "\e91d"
}

.icon-ad :before {
    content: "\e91e"
}

.icon-qq :before {
    content: "\e91f"
}

.icon-again :before {
    content: "\e920"
}

.icon-xinai :before {
    content: "\e921"
}

.icon-search :before {
    content: "\e922"
}

.icon-ebit :before {
    content: "\e923"
}

.icon-b12 :before {
    content: "\e924"
}

.icon-ada :before {
    content: "\e925"
}

.icon-air :before {
    content: "\e926"
}

.icon-anmo :before {
    content: "\e927"
}

.icon-cable :before {
    content: "\e928"
}

.icon-condom :before {
    content: "\e929"
}

.icon-lub :before {
    content: "\e92a"
}

.icon-met :before {
    content: "\e92b"
}

.icon-vib :before {
    content: "\e92c"
}

.icon-camera :before {
    content: "\e92d"
}

.icon-cell :before {
    content: "\e92e"
}

.icon-charger :before {
    content: "\e92f"
}

.icon-che :before {
    content: "\e930"
}

.icon-sup :before {
    content: "\e931"
}

.icon-yao :before {
    content: "\e932"
}

.icon-candy :before {
    content: "\e933"
}

.icon-coffee :before {
    content: "\e934"
}

.icon-cook :before {
    content: "\e935"
}

.icon-pot :before {
    content: "\e936"
}

.icon-rice :before {
    content: "\e937"
}

.icon-tea :before {
    content: "\e938"
}

.icon-worm :before {
    content: "\e939"
}

.icon-xie :before {
    content: "\e93a"
}

.icon-naifen :before {
    content: "\e93b"
}

.icon-kohon :before {
    content: "\e93c"
}

.icon-link :before {
    content: "\e93d"
}

.icon-cream :before {
    content: "\e93e"
}

.icon-beauty :before {
    content: "\e93f"
}

.icon-lotion :before {
    content: "\e943"
}

.icon-mask :before {
    content: "\e944"
}

.icon-meibi :before {
    content: "\e945"
}

.icon-eye :before {
    content: "\e94c"
}

.icon-scent :before {
    content: "\e967"
}

.icon-arrow-up :before {
    content: "\ea32"
}

.icon-inquiry :before {
    content: "\e900"
}

.icon-offline :before {
    content: "\e94b"
}

.icon-task :before {
    content: "\e92d"
}

.icon-finance :before {
    content: "\e940"
}

.icon-designer :before {
    content: "\e947"
}

.icon-ic_design :before {
    content: "\e9000"
}

.graybj  {
    background-color: #f5f4f4;
    position: relative
}

.axnBner  {
    width: 100%;
    height: 490px;
    background: url(../img/shop_bj.fbc68b4b.jpg);
    padding-top: 34px
}

.axnBwrap  {
    width: 1216px;
    height: 430px;
    background: hsla(0,0%,100%,.86);
    margin: 0 auto;
    padding: 12px 12px;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    overflow: hidden
}

.axnBwrap .el-carousel__indicators--outside  {
    position: absolute;
    bottom: 0
}

.axnBwrap .el-carousel__arrow  {
    height: 50px;
    width: 30px;
    border-radius: 0
}

.axnBwrap .el-carousel__arrow--left  {
    left: 0
}

.axnBwrap .el-carousel__arrow--right  {
    right: 0
}

.axnBwrapImg  {
    width: 100%;
    height: 100%
}

.el-carousel__item :nth-child(2n) {
    background-color: #99a9bf
}

.el-carousel__item :nth-child(odd) {
    background-color: #d3dce6
}

.axnMain  {
    padding: 0;
    overflow: inherit
}

.axnAdbox h2 ,.axnHotBox h1  {
    font-size: 22px;
    color: #000;
    text-align: center;
    font-weight: 700;
    padding: 40px 0
}

.axnAdbox h2 :after,.axnAdbox h2 :before {
    content: "/";
    font-size: 18px;
    font-weight: 400;
    padding: 0 20px;
    color: #dadada
}

.axnAdLst  {
    padding-bottom: 24px
}

.axnAdLst .el-card ,.axnAdLst .el-message  {
    border-radius: 0;
    height: 322px
}

.axnAdImage  {
    width: 302px;
    height: 322px;
    background-color: #fff
}

.axnHotBox h1 :after,.axnHotBox h1 :before {
    content: "";
    font-size: 18px;
    font-weight: 400;
    background-color: #dadada;
    width: 80px;
    height: 1px;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    top: -6px
}

.axnHotList  {
    padding-bottom: 42px
}

.axnHotile  {
    border-bottom: 1px solid #dadada;
    padding: 8px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex
}

.axnHotileL  {
    font-size: 22px;
    color: #000;
    text-align: center;
    font-weight: 700
}

.axnfot  {
    text-transform: uppercase;
    color: #999;
    font-weight: 400;
    font-size: 18px;
    padding: 0 10px
}

.axnHotileR  {
    color: #999;
    font-size: 14px;
    padding-right: 2px;
    font-weight: 400
}

.axnHotileR :hover,.axnHotMore a :hover {
    color: #f56c6c!important
}

.axnGrow  {
    padding: 14px 0 0 0
}

.axnGrow .el-card ,.axnGrow .el-message  {
    border-radius: 0;
    background-color: #f5f5f5;
    border: 0
}

.axnGcol  {
    margin-bottom: 28px
}

.axnGrimg  {
    width: 100%;
    height: 272px
}

.axnGrimg img  {
    width: 100%;
    height: 100%
}

.axnGtxt  {
    font-weight: 700;
    font-size: 18px;
    color: #333;
    padding: 6px 0 0 4px
}

.axnHotMore  {
    text-align: center;
    border-top: 1px solid #cacaca;
    margin: 20px 0 0
}

.axnHotMore a  {
    border: 1px solid #cacaca;
    border-top: none;
    padding: 0 18px 6px;
    border-radius: 0 0 4px 4px;
    height: 30px;
    line-height: 32px;
    position: relative;
    top: -1px;
    background-color: #f5f5f5;
    display: inline-block
}

.axnHotMore a :after {
    border: 0!important
}

.axnFixed  {
    position: fixed;
    top: 120px;
    width: 120px;
    left: 80px;
    background: #fff;
    z-index: 100
}

.axnFixedW  {
    padding: 4px 4px 0;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

.axnFixedL  {
    border-radius: 3px;
    margin-bottom: 5px
}

.axnFixedL a  {
    display: block;
    padding: 8px 5px;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #eaeaea;
    color: #666
}

.axnFixedL a :hover {
    background-color: #f4f4f4
}

.axnFixedL a.curr  {
    position: relative;
    z-index: 1;
    padding: 8px 8px 10px;
    background-color: #e60021;
    border-bottom: 0;
    color: #fff;
    border-radius: 2px
}

.axnFixedL i  {
    font-size: 16px;
    margin-right: 4px;
    float: left;
    position: relative;
    top: 2px
}

.axnFixedL a :last-child {
    border-bottom: 0
}

.crumb  {
    padding: 12px 0;
    font-size: 12px
}

.crumb .el-breadcrumb__separator  {
    display: none
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner  {
    color: #f56c6c
}

.axLsaBox  {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 32px
}

.axLsaBox li  {
    border-bottom: 1px dotted #dedede;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    position: relative
}

.axLsaBox li :last-child {
    border: 0
}

.axLsaLt  {
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    width: 88px;
    text-align: right;
    color: #666
}

.axLsaRt  {
    width: 90%
}

.axLsaRt .el-button--text  {
    color: #999
}

.axLsaRt .el-button  {
    margin: 0 12px
}

.axLsaRt a  {
    display: inline-block;
    padding: 6px 13px 5px;
    cursor: pointer;
    color: #666;
    line-height: 30px
}

.axLsaRt .el-button.curr  {
    color: #f56c6c
}

.axLsaRt .el-button :hover {
    color: #000
}

.axLsort  {
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    padding: 6px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    align-items: center;
    font-size: 12px
}

.priceAbnt  {
    position: relative;
    padding-right: 24px;
    background-color: #e60021;
    color: #fff
}

.priceAbnt .el-icon-caret-top  {
    position: absolute;
    top: 4px;
    right: 6px
}

.priceAbnt .el-icon-caret-bottom  {
    position: absolute;
    top: 12px;
    right: 6px
}

.priceAbnt i.curr  {
    opacity: .5
}

.axLsortR  {
    color: #999;
    font-family: verdana;
    text-align: right
}

.axLsortR font  {
    color: #666
}

.axLsortRspn  {
    margin-right: 10px
}

.axLsortR b  {
    color: #e4393c;
    font-weight: 700
}

.ative  {
    opacity: .5
}

.axnWrap  {
    padding-bottom: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.axnEcol  {
    padding-top: 10px
}

.axnEcoImg  {
    height: 280px;
    padding: 4px
}

.axnEcoImg img  {
    width: 100%;
    height: 100%
}

.axnEcoltx  {
    padding: 4px 10px
}

.axnEcoltx h3  {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    height: 18px
}

.axnEcolBt  {
    justify-content: space-between;
    align-items: center
}

.axnEcolBtsp  {
    font-size: 16px;
    color: #e60021;
    font-family: verdana
}

.axnEcolBtsp i  {
    font-size: 12px
}

.axnEcolBt .el-button  {
    padding: 8px 0;
    color: #999;
    font-size: 12px
}

.axnPag  {
    padding-top: 40px;
    text-align: center
}

.detasBanner  {
    margin: 22px 0
}

.contsbox  {
    padding: 0 0 30px
}

.contsAside ,.contsMain  {
    border: 1px solid #dbe0e4;
    background-color: #fff;
    border-radius: 4px
}

.contsMain  {
    padding: 0
}

.contsAside  {
    margin-left: 14px
}

.contsbox .hardList  {
    padding-bottom: 16px
}

.priceLst .hardH2  {
    padding-bottom: 6px
}

.priceLst .el-form-item  {
    margin-bottom: 2px
}

.priceLst .el-button  {
    margin-right: 4px;
    margin-left: 0;
    margin-bottom: 6px;
    padding: 10px 12px;
    position: relative
}

.priceLst .el-button.active ,.priceLst .el-button.active :active,.priceLst .el-button.active :focus,.priceLst .el-button.active :hover {
    border-color: #e60021
}

.priceLst .el-button.active :hover {
    color: #606266
}

.priceLst .el-button :hover {
    background-color: initial;
    color: #f56c6c;
    border-color: #dcdfe6
}

.priceLst .el-button :active,.priceLst .el-button :focus {
    background-color: initial;
    border-color: #dcdfe6;
    color: #606266
}

.priceLst .el-button.active :after {
    content: "";
    width: 12px;
    height: 12px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAYElEQVQokWP86iPBQCzg2iL3n4kUxSCaKA0wxURpQFZMUAO6YrwasCnGqQGr4v8nsWsAK4ZKoivG0IBiMkwRjGY0R9WAohgqia4YrgGrm2GKkBSDuf8ZzLCGBlbAwMAAABdyI9WXoiwfAAAAAElFTkSuQmCC) no-repeat 100% 100%;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0
}

.priceTop  {
    margin-top: 0;
    padding-top: 16px;
    background-color: inherit;
    border: 0;
    padding-bottom: 0
}

.geH1Lt  {
    color: #333
}

.aditem  {
    padding-top: 20px
}

.aditem .geH1Lt ,.priceTop .geH1Lt  {
    padding-right: 12px;
    line-height: 34px
}

.tx-right  {
    text-align: right
}

.priceTable  {
    border: 1px solid #e8e8e8;
    width: 100%
}

.priceTable th  {
    background-color: #fbfbfb;
    color: #333;
    font-weight: 400;
    font-size: 14px
}

.priceTable ,.priceTable td ,.priceTable th  {
    text-align: center;
    padding: 6px 4px;
    border-collapse: collapse
}

.priceTable td ,.priceTable th  {
    border: 1px solid #e0e0e0
}

.priceTable td.priceTatx  {
    text-align: left;
    padding-left: 12px;
    font-weight: 700;
    width: 60%
}

.linebx  {
    margin: 4px 0 16px;
    background-color: #f0f0f0
}

.geRtBtnDv  {
    margin-top: 6px
}

.geRtBtnDv .el-button  {
    width: 100%
}

.geRtBtnDv .el-button--danger.is-plain :hover {
    background: #fef0f0;
    border-color: #e60021;
    color: #e60021
}

.areBox .priSetion  {
    margin-left: 12px
}

.axnWrap .titles  {
    font-size: 16px;
    padding-top: 22px;
    display: block
}

.detasTop  {
    background-color: #fafafa;
    height: 62px;
    line-height: 62px
}

.detasTlt  {
    font-weight: 400
}

.detasTrg .el-button--danger  {
    background-color: #e60021;
    border-color: #e60021
}

.detasTrg .el-button--danger :hover {
    background-color: #f56c6c;
    border-color: #f56c6c
}

.detasTrg a.curr ,.detasTrg a :hover {
    color: #e60021!important
}

.detasTrg .el-link.el-link--default :after,.el-link.el-link--primary.is-underline :hover:after,.el-link.el-link--primary :after {
    border-color: #e60021!important
}

.detasGorup  {
    padding: 14px 0 6px
}

#backtop  {
    position: fixed;
    right: 60px;
    z-index: 9999;
    background-color: #b6b6b6;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    bottom: 200px;
    font-size: 12px;
    cursor: pointer
}

#backtop a  {
    color: #fff
}

#backtop i  {
    display: block;
    font-size: 18px;
    margin: 4px 0 0
}

#backtop :hover {
    background-color: #c40017
}

.LookNav  {
    position: absolute;
    width: 1240px;
    background-color: #fff;
    top: 76px;
    z-index: 99
}

.LookIcon  {
    position: absolute;
    top: -11px;
    color: #fff;
    left: 243px;
    display: none
}

.menuZbz:hover .LookNav  {
    display: block
}

.LookNavUl  {
    margin-left: -458px;
    padding: 10px 0;
    height: 481px;
    width: 234px;
    border: 0;
    color: #fff
}

.LookNavUl li  {
    height: 37px;
    line-height: 37px;
    font-size: inherit;
    padding: 0;
    float: inherit
}

.LookNavUl li.curr .LookNavList  {
    display: block;
    color: #e60021
}

.LookNavUl li.curr  {
    background-color: #e60021
}

.LookNavUl li.curr .LookNav_a  {
    color: #fff!important
}

.LookNav_a  {
    position: relative;
    display: block;
    padding-left: 30px;
    height: 37px;
    line-height: 37px;
    color: #333!important;
    font-size: 14px
}

.LookNav_a em  {
    position: absolute;
    right: 10px;
    top: 10px
}

.LookNavList  {
    width: 1005px;
    position: absolute;
    left: 234px;
    top: 0;
    z-index: 24;
    height: 500px;
    display: none
}

.LookNavLbx  {
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    box-shadow: 0 6px 10px rgb(0 0 0/10%);
    height: 100%;
    display: inline-block
}

.LookNavList li a :hover {
    background-color: inherit;
    color: #e60021!important
}

.LookNavList.block  {
    display: block
}

.LookNavList ul  {
    width: 248px;
    float: left;
    background-color: #fff
}

.LookNavList li  {
    position: relative;
    float: left;
    width: 265px;
    height: 71px
}

.LookNavList li a  {
    display: flex;
    align-items: center;
    padding: 13px 20px;
    line-height: 40px;
    color: #333!important;
    font-size: 14px;
    transition: color .2s
}

.LookNav_a :hover,.LookNavList li a :hover {
    color: #f56c6c
}

.LookNavList li a img  {
    width: 40px;
    height: 40px;
    margin-right: 12px
}

.LookNavList .texts  {
    width: 172px;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.detastop  {
    padding: 20px;
    align-items: center;
    background-color: #fbfbfb;
    border: 1px solid #e7e7e7;
    margin-top: 20px
}

.detastopLt  {
    text-align: center;
    color: #999
}

.detastopRt  {
    padding-left: 20px
}

.menuZbz[data-v-3daf3cf6] {
    position: relative
}

@font-face {
    font-family: icon;
    src: url(/image/icomoon.f4ec5706.eot);
    src: url(/image/icomoon.43a19c97.eot#iefix) format("embedded-opentype"),url(/image/icomoon.30da21b7.ttf) format("truetype"),url(/image/icomoon.d9f9c0cd.woff) format("woff"),url(../img/icomoon.d32625e1.svg#icomoon) format("svg");
    font-weight: 400;
    font-style: normal
}

[class*=" icon-"],[class^=icon-] {
    font-family: icon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-c:before {
    content: "\e947"
}

.icon-l:before {
    content: "\e94b"
}

.icon-r:before {
    content: "\e94d"
}

.icon-b:before {
    content: "\e951"
}

.icon-h:before {
    content: "\e952"
}

.icon-i:before {
    content: "\e953"
}

.icon-t:before {
    content: "\e954"
}

.icon-suc:before {
    content: "\e946"
}

.icon-save:before {
    content: "\e942"
}

.icon-set:before {
    content: "\e948"
}

.icon-share:before {
    content: "\e949"
}

.icon-upload2:before {
    content: "\e94a"
}

.icon-rollback_r:before {
    content: "\e94e"
}

.icon-upload3:before {
    content: "\e94f"
}

.icon-rollback_l:before {
    content: "\e950"
}

.icon-3d:before {
    content: "\e941"
}

.icon-img:before {
    content: "\e940"
}

.icon-fen:before {
    content: "\e900"
}

.icon-locat:before {
    content: "\e901"
}

.icon-yyao:before {
    content: "\e902"
}

.icon-dianzi:before {
    content: "\e903"
}

.icon-huaz:before {
    content: "\e904"
}

.icon-moban:before {
    content: "\e905"
}

.icon-shipin:before {
    content: "\e906"
}

.icon-arrow_d:before {
    content: "\e907"
}

.icon-contact:before {
    content: "\e908";
    color: #e60021
}

.icon-cart:before {
    content: "\e909"
}

.icon-audit:before {
    content: "\e90a"
}

.icon-checkm:before {
    content: "\e90b"
}

.icon-checks:before {
    content: "\e90c"
}

.icon-colse:before {
    content: "\e90d"
}

.icon-cont:before {
    content: "\e90e"
}

.icon-coupon:before {
    content: "\e90f"
}

.icon-detail:before {
    content: "\e910"
}

.icon-filedone:before {
    content: "\e911"
}

.icon-idcard:before {
    content: "\e912"
}

.icon-map1:before {
    content: "\e913"
}

.icon-map2:before {
    content: "\e914"
}

.icon-pass:before {
    content: "\e915"
}

.icon-setting:before {
    content: "\e916"
}

.icon-solution:before {
    content: "\e917"
}

.icon-use:before {
    content: "\e918"
}

.icon-arrow_up:before {
    content: "\e919"
}

.icon-tel:before {
    content: "\e91a"
}

.icon-down:before {
    content: "\e91b"
}

.icon-add:before {
    content: "\e91c"
}

.icon-del:before {
    content: "\e91d"
}

.icon-ad:before {
    content: "\e91e"
}

.icon-qq:before {
    content: "\e91f"
}

.icon-again:before {
    content: "\e920"
}

.icon-xinai:before {
    content: "\e921"
}

.icon-search:before {
    content: "\e922"
}

.icon-ebit:before {
    content: "\e923"
}

.icon-b12:before {
    content: "\e924"
}

.icon-ada:before {
    content: "\e925"
}

.icon-air:before {
    content: "\e926"
}

.icon-anmo:before {
    content: "\e927"
}

.icon-cable:before {
    content: "\e928"
}

.icon-condom:before {
    content: "\e929"
}

.icon-lub:before {
    content: "\e92a"
}

.icon-met:before {
    content: "\e92b"
}

.icon-vib:before {
    content: "\e92c"
}

.icon-camera:before {
    content: "\e92d"
}

.icon-cell:before {
    content: "\e92e"
}

.icon-charger:before {
    content: "\e92f"
}

.icon-che:before {
    content: "\e930"
}

.icon-sup:before {
    content: "\e931"
}

.icon-yao:before {
    content: "\e932"
}

.icon-candy:before {
    content: "\e933"
}

.icon-coffee:before {
    content: "\e934"
}

.icon-cook:before {
    content: "\e935"
}

.icon-pot:before {
    content: "\e936"
}

.icon-rice:before {
    content: "\e937"
}

.icon-tea:before {
    content: "\e938"
}

.icon-worm:before {
    content: "\e939"
}

.icon-xie:before {
    content: "\e93a"
}

.icon-naifen:before {
    content: "\e93b"
}

.icon-kohon:before {
    content: "\e93c"
}

.icon-link:before {
    content: "\e93d"
}

.icon-cream:before {
    content: "\e93e"
}

.icon-beauty:before {
    content: "\e93f"
}

.icon-lotion:before {
    content: "\e943"
}

.icon-mask:before {
    content: "\e944"
}

.icon-meibi:before {
    content: "\e945"
}

.icon-eye:before {
    content: "\e94c"
}

.icon-scent:before {
    content: "\e967"
}

.icon-arrow-up:before {
    content: "\ea32"
}

.icon-inquiry:before {
    content: "\e900"
}

.icon-offline:before {
    content: "\e94b"
}

.icon-task:before {
    content: "\e92d"
}

.icon-finance:before {
    content: "\e940"
}

.icon-designer:before {
    content: "\e947"
}

.icon-ic_design:before {
    content: "\e9000"
}

body,html {
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    font-family: å¾®è½¯é›…é»‘;
    padding: 0;
    min-width: 1240px
}

body {
    background-color: #f5f5f5
}

div,h1,h2,h3,h4,h5,h6,input,li,ol,p,ul {
    margin: 0
}

li,ol,ul {
    list-style-type: none
}

em,i {
    font-style: normal;
    border: none;
    font-family: none
}

a {
    text-decoration: none
}

input {
    border: 0
}

a:focus,input,select,textarea {
    outline: none
}

::-webkit-input-placeholder {
    color: #b3b3b3
}

::-moz-placeholder {
    color: #b3b3b3
}

:-ms-input-placeholder {
    color: #b3b3b3
}

:-moz-placeholder {
    color: #b3b3b3
}

input:focus,textarea:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

.comBox {
    width: 1240px
}

.comBox,.comBoxs {
    margin: 0 auto;
    clear: both
}

.comBoxs {
    width: 1100px
}

.red {
    color: #ff0036
}

.gree {
    color: #029000
}

.bule {
    color: #1580bd
}

.C7 {
    color: #b7b7b7
}

.C9 {
    color: #999
}

.en {
    font-family: verdana
}

.f12 {
    font-size: 12px
}

.attrTag.hide,.coreDiv.hide,.coreInfo.hide,.hide,.needhide .hide,.pitpaper.hide {
    display: none
}

.center-tx {
    text-align: center
}

.fl {
    float: left
}

.fr {
    float: right
}

.flex {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex
}

.center-ag {
    align-items: center
}

.center-jy {
    justify-content: center
}

.cont {
    margin-top: 12px
}

.bigBackground_left {
    color: #666;
    float: left;
    font-size: 13px;
    line-height: 1.5;
    width: 270px;
    padding-left: 15px
}

.bottomLink {
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
    padding-top: 5px
}

.bottomLink a {
    color: #ff0036
}

.noticeBox {
    background-color: #dbb352;
    line-height: 38px;
    background: linear-gradient(270deg,#dbb352,#f7e095);
    line-height: 46px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99
}

.noticeDv {
    align-items: center;
    text-align: center;
    color: #000;
    font-size: 16px
}

.noticeDv .icon-ad {
    font-size: 18px;
    padding-right: 12px
}

.headerBox {
    background: #c41b20;
    color: #fff;
    font-size: 14px;
    width: 100%;
    top: 0
}

#topbar {
    height: 38px;
    line-height: 38px;
    background: #ba2327;
    border-bottom: 1px solid #c22327;
    font-size: 13px
}

.afterQq {
    background-color: #d0514e;
    color: #630a0c;
    border: 1px solid #d0514e;
    border-radius: 50px;
    cursor: pointer;
    padding: 2px 10px;
    margin-left: 10px
}

.afterQq:hover {
    color: #630a0c;
    background-color: #cb4340;
    border-color: #cb4340
}

.topbarLtSpn {
    padding-left: 14px
}

.topbarLt a {
    color: #fff
}

.topbarRtxt span {
    padding: 0 10px
}

.topbarLogin {
    width: 138px;
    font-size: 12px;
    background-color: #b12529;
    text-align: center;
    margin-left: 15px;
    position: relative
}

.LgBox:hover {
    background-color: #ae191d
}

.LgBox a {
    color: #fff;
    padding: 0 10px;
    display: inline-block
}

.topbarLogSp:after {
    width: 1px;
    height: 14px;
    background-color: #d11f23;
    content: "";
    display: inline-block;
    position: relative;
    right: -10px;
    top: 3px
}

.topbarLogin .icon-use {
    font-size: 20px;
    position: relative;
    top: 4px;
    left: -6px;
    padding-right: 2px
}

.topbarLogin .icon-arrow_d {
    font-size: 10px;
    padding-left: 10px;
    color: #93000e;
    position: relative;
    top: 2px
}

.useLgin a {
    color: #fff
}

.useLgin.active,.useLgin:hover,.useLgin:hover a,.useLgin a:hover {
    background-color: #fff;
    color: #333
}

.useLgin.active a {
    color: #333
}

.useLgin a.icon-arrow_d {
    color: #666
}

.userNav {
    background-color: #b12529
}

.sn-undis {
    position: absolute;
    top: 37px;
    right: 0;
    z-index: 10;
    width: 260px;
    background-color: #fff;
    padding: 6px 0 0;
    font-size: 14px
}

.sn-undisDl a {
    display: block;
    line-height: 32px;
    border-bottom: 1px solid #f4f4f4;
    text-indent: 20px;
    text-align: left;
    color: #333
}

.sn-undisDl a:hover {
    color: #ff0036;
    background-color: #f4f4f4
}

#topBox {
    padding: 6px 0
}

#topbar .comBox,#topBox .comBox {
    justify-content: space-between
}

.topRight {
    padding: 12px 0 0;
    width: 910px
}

.topNavBox {
    padding-top: 0
}

.topNav {
    height: auto;
    line-height: auto;
    background-color: inherit;
    padding-left: 40px
}

.topNav li {
    line-height: 40px;
    height: 40px;
    font-size: 17px;
    padding: 0 12px;
    float: left
}

.topNav li.topNav_title {
    background-color: #f9f9f9;
    width: 124px;
    line-height: 38px;
    color: #e60021;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-right: 40px;
    position: relative
}

.topNavt_lay {
    width: 124px;
    min-height: 398px;
    background-color: #f9f9f9;
    position: absolute;
    z-index: 99999;
    top: 38px;
    display: none;
    padding-top: 10px
}

.tlaydv {
    padding: 0 12px 0 10px;
    line-height: 44px;
    overflow: hidden;
    text-align: left
}

.tlaydv a span {
    width: 90px;
    height: 44px;
    overflow: hidden;
    display: inline-block
}

.tlaydv em {
    margin-right: 3px
}

.topNav_title .tlaydv.curr a {
    color: #e60021
}

.topNav_title .tlaydv.curr a:hover {
    color: #b8001a
}

.tlaydv.curr a i {
    border-color: #e60021
}

.topNav_title .tlaydv a {
    justify-content: space-between;
    align-items: center;
    padding: 0;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    color: #333;
    font-size: 15px
}

.topNav_title .tlaydv a:hover {
    color: #999
}

.tlaydv i {
    width: 6px;
    height: 6px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    transform: rotate(45deg);
    -ms-transform: translateX(45deg);
    -moz-transform: translateX(45deg);
    -webkit-transform: translateX(45deg);
    display: inline-block
}

.tlaydv_tx,.tlaysBox {
    position: absolute;
    font-size: 12px;
    color: #666;
    left: 124px;
    top: 8px;
    background: #fff;
    box-shadow: 6px 8px 16px rgba(0,0,0,.12);
    height: 400px;
    width: 744px;
    overflow: hidden;
    display: none
}

.tlaydv_txp {
    height: 76px;
    width: 248px;
    float: left
}

.tlaydv_txp a {
    display: block!important;
    justify-content: inherit!important;
    text-align: left;
    font-size: 14px!important;
    padding: 18px 20px!important;
    line-height: 40px;
    color: #333;
    transition: color .2s
}

.tlaydv_txp img {
    width: 40px;
    height: 40px;
    margin-right: 12px
}

.tlaydv.curr .tlaydv_txp a {
    color: #000;
    font-size: 12px
}

.tlaydv.curr .tlaydv_txp a:hover {
    color: #e60021!important
}

.topNavEm {
    width: 9px;
    height: 10px;
    background: url(../img/icon_new.9e700073.png) no-repeat right -74px;
    display: inline-block;
    margin: 0 5px
}

.topNav li.curr a {
    color: #fdedb9
}

.topNav a {
    color: #fff;
    display: inline-block;
    padding: 0 6px;
    font-size: 17px
}

.topNav a:hover {
    color: #fff2c9
}

.topNav li:hover .ex-box {
    height: 94px!important;
    opacity: 1
}

.ex-box {
    height: 0;
    opacity: 0;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    padding-left: 0;
    width: 1920px;
    transition: all 1s;
    z-index: 5;
    text-align: center;
    left: 50%;
    top: 158px;
    margin-left: -960px;
    box-sizing: border-box;
    z-index: 99
}

.ex-box ul {
    display: flex;
    align-items: center;
    padding: 16px 0;
    width: 700px;
    margin: 0 auto;
    float: none;
    right: 0
}

.ex-box ul li {
    flex: 1;
    font-size: 14px;
    color: #333
}

.ex-box ul li a {
    padding: 0;
    font-size: 14px;
    color: #666!important
}

.ex-box ul li a:hover,.ex-box ul li a:hover i {
    color: #e60021!important
}

.ex-box ul li i {
    display: block;
    font-size: 33px;
    color: #929292;
    padding-bottom: 4px
}

.ex-box ul li i.icon-huaz {
    font-size: 38px
}

.logo {
    width: 330px;
    height: 64px;
    top: -2px
}

.logo,.topCart {
    position: relative
}

.topCart {
    background-color: #d0514e;
    height: 38px;
    line-height: 38px;
    width: 138px;
    text-align: center;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    cursor: pointer
}

.topCart:hover {
    background-color: #da4d4a
}

.topCart .icon-cart {
    font-size: 18px;
    position: relative;
    top: 2px;
    padding-right: 8px
}

.topCart .icon-arrow_d {
    font-size: 10px;
    position: relative;
    padding-left: 6px
}

.topCart em {
    height: 16px;
    line-height: 14px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    background-color: #000;
    font-style: normal;
    padding: 0 6px;
    font-size: 12px;
    position: absolute;
    left: 25px;
    top: 2px
}

.shoppingCatLyer {
    position: absolute;
    width: 128px;
    background: #d14643;
    z-index: 99;
    top: 40px;
    text-align: left;
    border-radius: 0 0 3px 3px
}

.shoppingCatLyer:before {
    position: absolute;
    left: 0;
    top: -1px;
    background: #de5350;
    content: "";
    display: block;
    height: 1px;
    width: 100%
}

.shoppingCatLyer a {
    display: block;
    line-height: 38px;
    padding-left: 14px;
    color: #fff;
    border-bottom: 1px solid #de5350
}

.shoppingCatLyer a:hover {
    background: #c52f2b;
    color: #fff
}

.mouseon:before {
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform-origin: 50% 50% 0;
    transition: transform .2s ease-in 0s;
    display: inline-block
}

.menuBox {
    background-color: #212121;
    color: #fff
}

.menuNav {
    height: 46px;
    line-height: 46px;
    background-color: #111;
    width: 100%
}

.menuNav .comBox {
    position: relative;
    z-index: 66
}

.menuUl li {
    float: left;
    position: relative;
    font-size: 15px;
    cursor: pointer
}


/* .menuUl li a:before {
    position: absolute;
    left: 50%;
    bottom: -6px;
    margin-left: -3px;
    z-index: 999;
    width: 0;
    height: 0;
    border-top: 6px solid #c41b20;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    display: none
} */

.menuUl li,.menuUl li a.curr-router-link-exact-active:before,.menuUl li a.router-link-exact-active:before {
    display: block
}

.menuUl li a {
    color: #fff;
    display: flex;
    padding: 0 18px;
    align-items: center;
    justify-content: center;
    font-size: 15px
}
.menuUl li a:hover {
    background-color: #c41b20;
}
.menuSubUl li.curr .navChek,.menuUl li.curr .meuChek {
    border-color: #000
}

.meuChek {
    width: 13px;
    height: 13px;
    line-height: 13px;
    border: 1px solid #fff;
    background-color: #fff;
    margin-right: 4px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    color: #000
}

.meuChek i {
    position: relative;
    left: -2px;
    top: -2px
}

.categChek,.navChek {
    width: 12px;
    height: 12px;
    line-height: 12px;
    border: 1px solid #818080;
    margin-right: 4px;
    font-size: 18px;
    text-align: center;
    cursor: pointer
}

.categChek i,.navChek i {
    position: relative;
    left: -3px;
    line-height: 12px
}

.navAdd,.navDel {
    background-color: #403d3d;
    border-radius: 40px;
    font-size: 14px;
    padding: 4px 10px;
    cursor: pointer
}

.navAdd:hover,.navDel:hover {
    background-color: #575757
}

.navPtx {
    align-items: center;
    justify-content: center
}

.navWaper {
    position: relative;
    z-index: 2
}

.nav-line {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 52px;
    height: 46px;
    background-color: #c41b20;
    font-size: 0;
    line-height: 40px
}

.nav-line:before {
    position: absolute;
    left: 50%;
    bottom: -6px;
    margin-left: -3px;
    z-index: 999;
    width: 0;
    height: 0;
    border-top: 6px solid #c41b20;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: ""
}

.categLayer {
    padding: 2px 16px;
    background-color: #fff;
    width: 548px
}

.categT {
    border-bottom: 1px solid #f3f3f3;
    padding: 10px 0;
    align-items: center;
    cursor: pointer
}

.categDv {
    padding: 10px 0;
    display: none
}

.categDv span {
    padding: 0 10px;
    border: 1px solid #f6f6f6;
    line-height: 30px;
    display: inline-block;
    margin: 6px 4px;
    color: #666;
    cursor: pointer;
    position: relative
}

.categDv span:before {
    width: 12px;
    height: 12px;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
    background: url(../img/icon_new.9e700073.png) no-repeat right -44px
}

.categDv span.curr {
    border: 1px solid #fe0034;
    color: #333
}

.categDv span.curr:before {
    display: block
}

.categBtn {
    height: 35px;
    line-height: 35px;
    background-color: #000;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    width: 120px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer
}

.categBtn:hover {
    background-color: #212121
}

.menuSubox {
    height: 110px
}

.menuNavBot,.menuSubox {
    background-color: #292929
}

/* .menuNavBot .cur {
    background-color: #da252a!important
} */

/* .menuNavBot li a:before {
    border-top: 6px solid #da252a!important
} */

.menuSubox .comBox {
    background: url(../img/menubj.89de0167.jpg) no-repeat 100% 0;
    height: 110px;
    position: relative;
    z-index: 66
}

.menuSubUl {
    padding-top: 32px;
    padding-left: 0;
}

.menuSubUl li {
    background-color: #403d3d;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    margin-right: 6px;
    width: 120px;
    text-align: center;
    height: 78px;
    position: relative;
    overflow: hidden
}

.menuSubUl li a {
    color: #898989;
    display: block;
    position: relative;
    z-index: 1;
    height: 78px;
    top: 0;
    font-size: 14px
}

.menuSubUl li a:before {
    height: 3px;
    background-color: #403d3d;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    left: 0;
    border-radius: 4px 4px 0 0;
    border: 0
}

.menuSubUl li:last-child {
    margin-right: 0
}

.menuSubUl li.curr {
    background-color: #fff
}

.menuSubUl li.curr a:before {
    background-color: #e12227
}

.menuSubUl li.curr a {
    color: #000
}

.menuSubUl li,.menuSubUl li:after,.menuSubUl li:before {
    transition: .2s
}

.menuSubUl li:after,.menuSubUl li:before {
    position: absolute;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    background: #777;
    border-radius: 50%
}

.menuSubUl li:before {
    left: -20px;
    transform: translate(-50%,-50%)
}

.menuSubUl li:after {
    right: -20px;
    transform: translate(50%,-50%)
}

.menuSubUl li:hover:before {
    -webkit-animation: criss-cross-left .5s both;
    animation: criss-cross-left .5s both
}

.menuSubUl li:hover:after {
    -webkit-animation: criss-cross-right .5s both;
    animation: criss-cross-right .5s both
}

.menuSubUl li.curr:hover:after,.menuSubUl li.curr:hover:before {
    -webkit-animation: none;
    animation: none
}

@-webkit-keyframes criss-cross-left {
    0% {
        left: -20px
    }

    50% {
        left: 50%;
        width: 20px;
        height: 20px
    }

    to {
        left: 50%;
        width: 375px;
        height: 375px
    }
}

@keyframes criss-cross-left {
    0% {
        left: -20px
    }

    50% {
        left: 50%;
        width: 20px;
        height: 20px
    }

    to {
        left: 50%;
        width: 375px;
        height: 375px
    }
}

@-webkit-keyframes criss-cross-right {
    0% {
        right: -20px
    }

    50% {
        right: 50%;
        width: 20px;
        height: 20px
    }

    to {
        right: 50%;
        width: 375px;
        height: 375px
    }
}

@keyframes criss-cross-right {
    0% {
        right: -20px
    }

    50% {
        right: 50%;
        width: 20px;
        height: 20px
    }

    to {
        right: 50%;
        width: 375px;
        height: 375px
    }
}

.kaIcn {
    width: 50px;
    height: 51px;
    margin: 0 auto;
    display: block;
    padding-top: 4px
}

.footer,.footTop {
    clear: both
}

.footTop {
    background: #fff;
    border-top: 1px solid #f3f3f3
}

.footEnsure {
    border-bottom: 1px solid #f1f1f1;
    padding: 16px 0;
    display: flex
}

.footEnsure li {
    flex: 1;
    text-indent: 70px
}

.footTxtBx {
    display: flex;
    padding: 30px 0 26px
}

.footTxtUl {
    display: flex;
    width: 84%
}

.footTxtUl li {
    flex: 1;
    padding-left: 70px
}

.footTxtUl h2 {
    font-size: 16px;
    font-weight: 400
}

.footTxtUl div {
    font-size: 12px;
    padding-top: 14px
}

.footTxtUl div a {
    display: block;
    text-decoration: none;
    color: #999;
    line-height: 24px
}

.footBottom a:hover,.footTxtQt a:hover,.footTxtUl div a:hover {
    text-decoration: underline;
    color: #e60021
}

.footTel {
    border-left: 1px solid #f1f1f1;
    text-align: center;
    font-size: 12px;
    width: 16%;
    color: #999
}

.footTel h1 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 4px;
    color: #e60021
}

.footTContact {
    border: 1px solid #e60021;
    width: 120px;
    display: inline-block;
    color: #e60021;
    margin: 10px 0;
    line-height: 30px;
    text-align: center;
    cursor: pointer
}

.footTContact a {
    color: #e60021;
    display: block
}

.footTContact a:hover {
    color: #ff1335
}

.footTContact span {
    margin: 0 6px;
    position: relative;
    top: 1px
}

.footTxtQt {
    border-top: 1px solid #f1f1f1;
    padding: 14px 0;
    display: flex;
    align-items: center
}

.footTxtQtSpn {
    padding-left: 50px;
    width: 120px;
    font-size: 16px
}

.footTxtQt a {
    font-size: 12px;
    text-decoration: none;
    color: #999;
    margin-right: 27px;
    line-height: 28px
}

.footTxtQtDv {
    padding-right: 44px;
    word-break: break-all
}

.footBottom {
    background: #000;
    border-top: 4px solid #e60021;
    color: #ccc;
    font-size: 14px;
    padding: 20px 0 16px;
    text-align: center;
    line-height: 28px
}

.footBottom a {
    text-decoration: none;
    color: #ccc;
    position: relative
}

.footBottomPt a {
    padding: 0 14px
}

.footBottomPt a:after {
    content: "";
    width: 1px;
    height: 12px;
    background: #3c3c3c;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 4px
}

.footBottomPt a:last-child:after {
    display: none
}

.footBicp {
    color: #777;
    font-size: 12px
}

.footBicp span {
    padding: 0 8px;
    display: inline-block
}

.footBimgBx {
    padding-top: 26px;
    text-align: center
}

.footBimgBx a {
    display: inline-block;
    width: 125px;
    height: 38px;
    margin-right: 8px;
    background-image: url(../img/icon_new.9e700073.png);
    background-repeat: no-repeat
}

.footBimg1 {
    background-position: 0 0
}

.footBimg2 {
    background-position: left -39px
}

.footBimg3 {
    background-position: left -78px
}

.footTelWx img {
    width: 82px
}

.Layerx {
    position: fixed;
    background: rgba(0,0,0,.4);
    display: none;
    z-index: 2
}

.Layerx,.logLyBox {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto
}

.logLyBox {
    position: absolute;
    background-color: #fff;
    padding: 0 25px;
    width: 306px;
    max-height: 360px
}

.LyClose {
    cursor: pointer
}

.logLyBoxT {
    font-size: 16px;
    color: #666;
    justify-content: space-between;
    line-height: 32px;
    padding-top: 20px;
    align-items: center
}

.acctBox {
    padding-top: 30px
}

.acctBox li {
    border: 1px solid #ddd;
    line-height: 40px;
    background: #fff;
    margin-bottom: 20px;
    padding: 0 12px
}

.acctBox li input {
    width: 100%;
    border: 0
}

.acctBox li input:focus {
    border-color: 0;
    outline: 0;
    box-shadow: inherit
}

.passBx {
    align-items: center;
    padding: 6px 0 48px;
    justify-content: space-between;
    font-size: 12px;
    color: #666
}

.passBx label {
    display: inline;
    margin-left: 5px
}

.passBxL {
    align-items: center
}

.passBxR a {
    padding: 0 4px
}

.LyClose:hover,.passBxR a:hover {
    color: #ff0036
}

.acctBnt {
    border: 1px solid #e60021;
    background: #e60021;
    color: #fff;
    width: 100%;
    border-radius: 2px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 16px;
    cursor: pointer
}

.pageBox {
    padding: 20px 0 30px;
    text-align: center
}

.el-pager li {
    font-weight: 400
}

.el-pagination.is-background .btn-next,.el-pagination.is-background .btn-prev,.el-pagination.is-background .el-pager li {
    background-color: #fff;
    border: 1px solid #dcdfe6
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #e60021
}

.passBox h1 {
    font-size: 18px;
    font-weight: 400;
    padding: 30px 0 10px
}

.passwdMain {
    border: 1px solid #dbe0e4;
    background-color: #fff;
    padding: 41px 20px 35px;
    margin-bottom: 40px
}

.passLeft {
    padding: 0 75px 0 120px
}

.passLeft li {
    border: 1px solid #e5e5e5;
    height: 50px;
    line-height: 50px;
    margin-bottom: 26px;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    position: relative;
    text-align: center
}

.passSpn {
    padding-left: 18px;
    width: 82px;
    line-height: 50px;
    text-align: right;
    display: inline-block
}

.passInpt {
    width: 278px;
    height: 50px;
    padding: 0 10px;
    border: 0;
    line-height: 50px;
    color: #666
}

.passCode:focus,.passInpt:focus {
    border: 0;
    box-shadow: inset 0 0 0 0,0 0 0 0
}

.passCode,.passCodeImg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    width: 116px;
    height: 50px;
    border: 0;
    text-align: center;
    cursor: pointer;
    color: #888
}

.passCode {
    background-color: #e5e5e5
}

.passCode:hover {
    background-color: #d5d5d5
}

.passwdBnt {
    background-color: #e60021;
    color: #fff;
    height: 52px;
    line-height: 52px;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    cursor: pointer
}

.passwdBnt:hover {
    background-color: #d6001f
}

.passCodeImg img {
    height: 100%
}

.imgVbtn:hover {
    padding: 0
}

.passRt {
    border-left: 1px solid #e5e5e5;
    padding-left: 56px;
    font-size: 14px
}

.passRt dl {
    margin-bottom: 20px
}

.passTel {
    margin-bottom: 0
}

.passLog dt,.passTel dt {
    width: 38px;
    height: 38px;
    line-height: 38px;
    border-radius: 100%;
    margin-right: 10px;
    color: #fff;
    text-align: center;
    font-size: 23px
}

.passLog dt {
    background-color: #7ac23c
}

.passTel dt {
    background-color: #ff0036
}

.passLog a:hover {
    text-decoration: underline;
    color: #e20131
}

.passLog dd {
    line-height: 36px
}

.prompt {
    margin-top: 20px;
    background-color: #f5f5f5;
    padding: 18px
}

.prompt p {
    margin-bottom: 10px
}

.passLoga {
    background: url(../img/password.20d22b9c.jpg) no-repeat;
    width: 380px;
    height: 229px;
    display: block;
    margin-top: 20px
}

.sortUlbx {
    overflow: hidden
}

.sortUlbx li {
    position: relative;
    z-index: 1;
    width: 240px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #fff;
    transition: all .2s linear;
    float: left
}

.sortUlbx li a {
    height: 270px;
    padding: 10px 0 10px;
    display: block
}

.sortUlbx li:nth-child(5n) {
    margin-right: 0
}

.sortUlbx_ad a {
    padding: 0;
    height: 300px
}

.org_item li,.red_item li {
    height: 299px
}

.sortUlbx li:hover {
    z-index: 2;
    box-shadow: 0 12px 18px rgba(0,0,0,.1);
    transform: translate3d(0,-1px,0)
}

.sortUltxt {
    padding: 2px 12px 0
}

.sortUlmg {
    width: 220px;
    height: 220px;
    margin: 0 auto 10px
}

.sortUlmg img {
    width: 100%;
    height: 100%
}

.sortUltxt h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    height: 18px
}

.sortUl_price {
    font-size: 16px
}

.sortUl_price em {
    font-size: 12px
}

.sortUltxt_m {
    justify-content: space-between;
    align-content: center;
    padding: 2px 0
}

.el-select .el-input.is-focus .el-input__inner {
    border-color: #dcdfe6
}

.el-select-dropdown__item.selected {
    color: #e60021
}

.menuUl .cur[data-v-f03f56cc] {
    background-color: #c41b20;
}

.menuUl .cur1[data-v-f03f56cc] {
    color: #c41b20
}

.priceLayout .el-input-group__append {
    width: 25px;
    padding: 0 5px;
    text-align: center
}

.confirm-ywxx  {
    background-color: #ff0036;
    border-color: #ff0036;
    color: #fff;
    border-radius: 2px;
    font-size: 16px;
    margin-top: 10px;
    text-align: right
}

.confirm-ywxx :hover {
    background-color: #ea0032;
    border-color: #ea0032
}

.ywxx-box .el-radio--mini  {
    height: auto
}

.ywxx-box .remark  {
    width: 140px;
    height: 140px;
    overflow: hidden;
    position: relative
}

.ywxx-box .remark .zoom-in-img  {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 28px;
    display: none
}

.ywxx-box .remark .el-image  {
    display: initial
}

.ywxx-box .remark:hover .zoom-in-img  {
    display: inline-block
}

.ywxx-box .attr-text  {
    color: #333;
    padding-bottom: 5px;
    width: 120px;
    white-space: normal;
    font-size: 14px;
    line-height: 16px
}

.ywxx-box .attr-code  {
    color: #777;
    font-size: 12px
}

.ywxx-box .null-text  {
    font-size: 18px;
    text-align: center;
    color: #c0c4cc;
    margin-top: 60px
}

.ywxx-dialog .keywords  {
    margin-right: 5px
}

.ywxx-dialog .keywords :hover {
    cursor: pointer;
    color: #ff0036
}

.ywxx-box .el-scrollbar__wrap {
    overflow-x: hidden!important
}

.ywxx-box .Eattrrow {
    border: 1px solid #dcdfe6;
    padding: 3px;
    margin: 6px 6px;
    border-radius: 4px
}

.ywxx-box .Eattrrow .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    box-shadow: none
}

.ywxx-box .Eattrrow.radio-eattrrow {
    border-color: #e60021
}

.ywxx-box .Eattrrow .el-radio-button__orig-radio:checked+.el-radio-button__inner:after {
    display: none
}

.ywxx-box .Eattrrow .el-checkbox-button,.ywxx-box .Eattrrow .el-radio-button {
    margin: 0
}

.ywxx-box .el-image__preview {
    cursor: zoom-in
}

.ywxx-box .radio-box {
    display: flex;
    padding: 5px 0
}

.ywxx-box .radio-img-box {
    flex: 1;
    width: 18px;
    height: 18px;
    border-radius: 3px 3px 3px 3px;
    box-sizing: border-box;
    border: 1px solid #dcdfe6;
    margin-right: 2px
}

.ywxx-box .radio-img {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s linear 0s;
    -ms-transition: all .3s linear 0s;
    -moz-transform: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    -webkit-transform: all .3s linear 0s
}

.ywxx-box .radio-img.show-radio-img {
    opacity: 1
}

.ywxx-box .el-radio-button--small .el-radio-button__inner {
    padding: 0!important;
    text-align: left;
    border: none
}

.ywxx-box .Eattrrow {
    float: none
}

.ywxx-box .EattrMgroup {
    display: flex;
    flex-wrap: wrap
}

.ywxx-dialog .el-dialog__body {
    padding-top: 0;
    padding-bottom: 10px
}

.ywxx-dialog .el-dialog__header {
    padding-bottom: 0;
    font-size: 18px
}

.ywxx-dialog .el-image__error {
    display: none
}

.ywxx-dialog .el-tabs__nav-scroll {
    padding-left: 10px
}

.ywxx-search {
    width: 300px;
    margin-left: 20px
}

.ywxx-dialog .el-tabs__item.is-active,.ywxx-dialog .el-tabs__item:hover {
    color: #ff0036
}

.ywxx-dialog .el-tabs__active-bar {
    background-color: #ff0036
}

.ywxx-box .el-image-viewer__btn.el-image-viewer__close .el-icon-circle-close {
    color: #fff
}

.group-copy-div1 {
    top: 4px
}

.group-copy-div,.group-copy-div1 {
    margin-left: 10px;
    position: relative;
    display: inline-block
}

.group-copy-div {
    top: -1px
}

.noMrgin {
    margin-right: 0
}

.noMrgin .el-input-group__append {
    border-right: 0!important
}

.tgimg {
    top: 70px
}

.anew {
    margin-left: 20px;
    cursor: pointer;
    text-decoration: underline
}

label {
    box-shadow: none!important
}

.EattrMgroup .padd span {
    padding: 2px
}

.titlenone,div[name=hidename] {
    display: none
}

.PantoneDv .el-button:hover {
    background-color: #fff!important
}

.tooltext {
    color: red;
    cursor: pointer
}

.toolbox {
    margin-top: 10px
}

.hideclass {
    display: none
}

.show-ywxx {
    margin-left: 0;
    color: #ff0036
}

.show-ywxx:hover {
    cursor: pointer
}

.el-image__error {
    display: none
}

.ywxx-img {
    margin-top: 10px;
    width: 100px
}

.ywxx-img img {
    width: 100%;
    height: 100%
}

.ywxx-img:hover {
    cursor: zoom-in
}

.radio_box .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #ff0036;
    border-color: #ff0036
}

.radio_box .el-checkbox__input.is-checked+.el-checkbox__label {
    color: #000;
    font-weight: 700
}

.addressValue .el-cascader .el-input .el-input__inner:focus,.addressValue .el-cascader .el-input.is-focus .el-input__inner,.radio_box .el-checkbox__inner:hover,.radio_box .el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #ff0036
}

.el-cascader-node.in-active-path,.el-cascader-node.is-active,.el-cascader-node.is-selectable.in-checked-path {
    color: #ff0036
}

.geRtListkg[data-v-0493baad] {
    margin-top: 20px
}

.geRtListkg li[data-v-0493baad] {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-top: 0;
    border-bottom: 0;
    padding: 0
}

.geRtListkglist[data-v-0493baad] {
    width: 309px;
    height: 45px;
    line-height: 55px;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 10px
}

.active[data-v-0493baad] {
    font-weight: 700;
    background-color: #fff!important;
    border-bottom: 1px solid #edeef0
}

.packServe[data-v-0493baad] {
    width: 296px;
    border-bottom: none;
    line-height: 40px;
    box-sizing: border-box;
    padding: 10px 20px 10px 14px;
    background: #f5f5f5
}

.labelr .el-radio__input[data-v-0493baad] {
    display: none
}

.radio_box[data-v-0493baad] {
    background-color: #edeef0;
    padding: 12px;
    cursor: pointer
}

.inputBx {
    width: 75%;
    display: block
}

.inputBxrow {
    display: inline-block;
    height: 32px
}

.inputBxrowSize:nth-child(4) {
    margin-top: 15px;
    border-left: 1px solid #dcdfe6
}

.el-form-item__content[data-v-37b24590] {
    line-height: 100%
}

.logLa a[data-v-37b24590]:hover {
    color: #e60021;
    text-decoration: underline
}

.logLa a[data-v-37b24590]:after {
    display: none
}

.fixedclass {
    position: fixed;
    top: 46px;
    background: #fff;
    z-index: 99;
    border: 1px solid #dbe0e4
}
